* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#progers-bar {
  width: 50%;
  margin-top: 0.5%;
  height: 10%;
}

label {
  color: white;
}

.webgl {
  position: absolute;
  top:0;
  left:2.5%;
  outline: none;
  z-index: 0;
}